body {
	background-color: #dfdfdf;
	position: relative;
	padding: 0px;
	height: 100vh;
}

section {
	width: 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.project-list-container {
	display: grid;
	grid-column: 3;
	grid-template-columns: 1fr;
	justify-items: center;
}

@media (min-width: 700px) {
	.project-list-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
