body {
	background-color: #dfdfdf;
	position: relative;
	padding: 0px;
	height: 100vh;
}

section {
	width: 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}
