<section>
    <div class="wrapper menu">
        <ol>
            <li><a href="./projects/expanding-cards.html">Expanding Cards</a></li>
            <li><a href="./projects/progress-steps.html">Progress Steps</a></li>
            <li><a href="./projects/rotating-navigation.html">Rotating Navigation</a></li>
            <li><a href="./projects/search-icon.html">Search Icon</a></li>
            <li><a href="./projects/image-loading.html">Image loading</a></li>
            <li><a href="./projects/scroll-to-animate.html">Scroll to animate</a></li>
            <li><a href="./projects/split-landing-page.html">Split Landing Page</a></li>
            <li><a href="./projects/.html">blank</a></li>
        </ol>
    </div>
</section>