<section>
    <div class="wrapper menu">
        <ul>
            <li><a href="./projects/expanding-cards.html">Expanding Cards</a></li>
            <li><a href="./projects/progress-steps.html">Progress Steps</a></li>
            <li><a href="./projects/rotating-navigation.html">Rotating Navigation</a></li>
            <li><a href="./projects/search-icon.html">Search Icon</a></li>
            <li><a href="./projects/image-loading.html">Image loading</a></li>
            <li><a href="./projects/.html">blank</a></li>
        </ul>
    </div>
</section>