.counter-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 50px;
	text-align: center;

	.counter {
		font-size: 56px;
		margin-top: 10px;
		width: 200px;
		text-align: center;
	}
}

// add global media queries for mobile
