body{

    overflow-x: hidden;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 240px;
	background: linear-gradient(130deg, #8a97d1, rgb(128, 134, 203));
	margin: 20px 0;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px -10px;
	color: #f1f1f1;
	transform: translateX(100vw);
	transition: transform 0.4s ease;
	&:nth-of-type(even) {
		transform: translateX(-100vw);
	}
	&.show {
		transform: translateX(0);
	}
}
