body {
	height: 100vh;
	background-image: linear-gradient(90deg, #80b3f5, #589af0);
}

$main-size: 50px;
$active-input-width: 200px;
.search-icon {
	&--section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--container {
		position: relative;
		&.active {
			.search-input {
				width: $active-input-width;
			}
			.search-btn {
				transform: translateX(calc($active-input-width-2px));
			}
		}
	}
}
.search {
	&-input {
		background-color: #fff;
		border: 0;
		font-size: 18px;
		padding: 15px;
		height: $main-size;
		width: $main-size;
		transition: width 0.3s linear;
		&:focus {
			outline: none;
		}
	}
	&-btn {
		background-color: #fff;
		border: 0;
		cursor: pointer;
		font-size: 24px;
		position: absolute;
		top: 0;
		left: 0;
		width: $main-size;
		height: $main-size;
		transition: transform 0.3s linear;
		&:focus {
			outline: none;
		}
	}
}
